.Navigation {
  display: flex;
  width: 25%;
  justify-content: space-between;
}

//////////////////////////////////////////////Responsive//////////////////////////////////////////////
@media screen and (max-width: 449px) {
  .Navigation {
    width: 40%;
  }
}

@media screen and (min-width: 449px) and (max-width: 768px) {
  .Navigation {
    width: 27%;
  }
}
